:root {
  --font-family-primary: "Inter";
  --bg-white: #FDFDFE;
  --bg-ultra-light-grey: #F3F7FA;
  --bg-light-grey: #E9EEF2;
  --font-grey: #A2A2A2;
  --font-medium-grey: #6B6B6B;
  --font-dark-grey: #464646;
  --font-blue: #066DCA;
  --font-white: #FDFDFE;
  --bt-ultra-light-grey: #F3F7FA;
  --bt-light-blue: #D3E3F3;
  --bt-blue: #066DCA;
  --elements-white: #FDFDFE;
  --elements-ultra-light-grey: #F3F7FA;
  --elements-light-grey: #E9EEF2;
  --elements-dark-grey: #464646;
  --elements-light-blue: #D3E3F3;
  --elements-blue: #066DCA;
  --color-grey-00: #FDFDFE;
  --color-grey-20: #D8D8D9;
  --color-grey-40: #B4B4B4;
  --color-grey-60: #8F8F90;
  --color-grey-80: #6B6B6B;
  --color-grey-100: #464646;
  --color-grey-dark: #3C3C3C;
  --color-blue-00: #FDFDFE;
  --color-blue-20: #CBE0F3;
  --color-blue-40: #9AC4E9;
  --color-blue-60: #69A6DF;
  --color-blue-80: #388AD5;
  --color-blue-100: #066DCA;
  --color-blue-dark: #0059B6;
}

/* BASE STYLE SETTINGS START: */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-family-primary);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* BASE STYLE SETTINGS END. */
/* WRAPPER STYLE SETTINGS START: */
.wrapper-full {
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
}

.wrapper-fix {
  width: 100%;
  max-width: 1240px;
  margin: 0px auto;
  padding: 0px 20px;
}

/* WRAPPER STYLE SETTINGS END. */
/* UI STYLE SETTINGS START: */
/* Buttons style settings start: */
.button {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  border-radius: 10px;
  transition-duration: 0.2s;
}
.button:focus {
  outline: 1px solid var(--color-grey-80);
}
.button__middle {
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  padding: 15.5px 20px;
}
.button__small {
  height: 44px;
  font-size: 14px;
  line-height: 18px;
  padding: 12.5px 20px;
}
.button__blue {
  color: var(--font-white);
  background-color: var(--bt-blue);
}
.button__blue:hover {
  background-color: var(--color-blue-dark);
}
.button__gray {
  color: var(--font-dark-grey);
  background-color: var(--bg-ultra-light-grey);
}
.button__gray:hover {
  color: var(--color-grey-dark);
}
.button__combined {
  color: var(--font-blue);
  background-color: var(--bt-light-blue);
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
  padding: 9.5px 15px;
}
.button__combined .img-svg path:not([stroke-linecap]) {
  stroke: var(--bt-blue);
}
.button__combined:hover {
  color: var(--color-blue-dark);
}
.button__combined:hover .img-svg path:not([stroke-linecap]) {
  stroke: var(--color-blue-dark);
}
.button__icon {
  background-color: var(--bg-ultra-light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
}

/* Buttons style settings end. */
/* Titles style settings start: */
.headline {
  font-weight: 400;
  color: var(--font-dark-grey);
  text-transform: uppercase;
  background-color: var(--bg-light-grey);
  border-radius: 10px;
}
.headline__middle {
  font-size: 16px;
  line-height: 20px;
  padding: 15px 15px;
}
.headline__small {
  font-size: 14px;
  line-height: 18px;
  padding: 11px 15px;
}

/* Titles style settings end. */
/* Slider navigation style settings start: */
.slider-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.slider-navigation span {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.slider-navigation span.prev {
  transform: rotate(180deg);
}
.slider-navigation span.next {
  transform: rotate(0deg);
}
.slider-navigation span .img-svg path {
  stroke: var(--bt-blue);
}
.slider-navigation span:hover .img-svg path {
  stroke: var(--color-blue-dark);
}

/* Slider navigation style settings end. */
/* Page pagination style settings start: */
.page-pagination {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.page-pagination .arrow {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.page-pagination .arrow:focus {
  outline: 1px solid var(--color-grey-80);
}
.page-pagination .arrow:hover {
  background-color: var(--font-white);
}
.page-pagination .arrow:hover .img-svg path {
  stroke: var(--bt-blue);
}
.page-pagination .arrow.disable .img-svg path {
  stroke: var(--color-grey-40);
}
.page-pagination .arrow.disable:hover .img-svg path {
  stroke: var(--color-grey-40);
}
.page-pagination .arrow.prev {
  transform: rotate(180deg);
}
.page-pagination .arrow.next {
  transform: rotate(0deg);
}
.page-pagination .pages {
  display: flex;
  column-gap: 10px;
}
.page-pagination .pages .page {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--font-white);
  transition-duration: 0.2s;
  cursor: pointer;
}
.page-pagination .pages .page:focus {
  outline: 1px solid var(--color-grey-80);
}
.page-pagination .pages .page.active {
  background-color: var(--elements-light-blue);
}
.page-pagination .pages .page span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--font-dark-grey);
}

/* Page pagination style settings end. */
/* Input's style settings start: */
.input-block {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.input-block p, .input-block span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--font-dark-grey);
}
.input-block input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-medium-grey);
  border: none;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 15px 15px;
  transition-duration: 0.2s;
}
.input-block input:placeholder {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-medium-grey);
}
.input-block input:focus {
  outline: 1px solid var(--color-grey-80);
}

/* Input's style settings end. */
/* UI STYLE SETTINGS END. */
/* MODAL STYLE SETTINGS START: */
.section-modal {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
}
.section-modal .container-modal {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  background-color: var(--bg-white);
  padding: 10px 10px;
}
.section-modal .container-modal .head-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  border-radius: 10px;
  background-color: var(--bg-light-grey);
  padding: 10px 10px;
}
.section-modal .container-modal .head-modal p {
  height: 50px;
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-dark-grey);
  text-transform: uppercase;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 0px 15px;
}
.section-modal .container-modal .head-modal > div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  transition-duration: 0.2s;
  cursor: pointer;
}
.section-modal .container-modal .head-modal > div:hover {
  outline: 1px solid var(--color-grey-80);
}

/* MODAL STYLE SETTINGS END. */
/* HEADER STYLE SETTINGS START: */
.section-header {
  margin: 5px 0px 10px 0px;
}

.container-header {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.container-header .container-header__row-01,
.container-header .container-header__row-02 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.container-header__row-01 .header-logotype {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
  background-color: var(--bg-ultra-light-grey);
  border-radius: 10px;
  padding: 8px 15px;
  flex: 1;
  transition-duration: 0.2s;
}
.container-header__row-01 .header-logotype:hover {
  color: var(--color-grey-dark);
}
.container-header__row-01 .header-logotype:focus {
  outline: 1px solid var(--color-grey-80);
}
.container-header__row-01 .header-logotype span {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-dark-grey);
}
.container-header__row-01 .header-menu ul {
  display: flex;
  align-items: center;
  column-gap: 5px;
  list-style-type: none;
}
.container-header__row-01 .header-menu ul li a {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-dark-grey);
  text-decoration: none;
  background-color: var(--bg-ultra-light-grey);
  border-radius: 10px;
  padding: 15.5px 20px;
  transition-duration: 0.2s;
}
.container-header__row-01 .header-menu ul li a:hover {
  color: var(--color-grey-dark);
}
.container-header__row-01 .header-menu ul li a:focus {
  outline: 1px solid var(--color-grey-80);
}

.container-header__row-02 .header-search {
  flex: 1;
}
.container-header__row-02 .header-search .header-search__input {
  width: 100%;
  background-color: var(--bg-ultra-light-grey);
  font-size: 16px;
  font-weight: 400;
  color: var(--font-medium-grey);
  background-image: url("../media/icons/icon_search.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 16px 15px;
  transition: 0.2s;
}
.container-header__row-02 .header-search .header-search__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-medium-grey);
}
.container-header__row-02 .header-search .header-search__input:focus {
  outline: 1px solid var(--color-grey-80);
}
.container-header__row-02 .header-phone {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-dark-grey);
  text-decoration: none;
  background-color: var(--bg-ultra-light-grey);
  border-radius: 10px;
  padding: 15.5px 15px;
}
.container-header__row-02 .header-phone:hover {
  color: var(--color-grey-dark);
}
.container-header__row-02 .header-phone:focus {
  outline: 1px solid var(--color-grey-80);
}

.custom-select .custom-select-container.customSelect {
  width: 180px;
  height: 50px;
  position: relative;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}
.custom-select .custom-select-container.customSelect.is-open .custom-select-opener::after {
  transform: rotate(180deg);
  top: 25%;
  right: 15px;
}
.custom-select .custom-select-container.customSelect.is-open .custom-select-panel {
  max-height: none;
  display: block;
}
.custom-select .custom-select-container.customSelect .custom-select-opener {
  background-color: var(--bg-ultra-light-grey);
  border-radius: 10px;
  border: none;
  list-style: none;
  cursor: pointer;
  padding: 15.5px 15px;
}
.custom-select .custom-select-container.customSelect .custom-select-opener:focus {
  outline: 1px solid var(--color-grey-80);
}
.custom-select .custom-select-container.customSelect .custom-select-opener::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: 15px;
  top: 45%;
  background-image: url("../media/icons/icon_grey_chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.custom-select .custom-select-container.customSelect .custom-select-opener span {
  font-family: var(--font-family-primary);
  font-size: 16px;
  color: var(--font-medium-grey);
}
.custom-select .custom-select-container.customSelect .custom-select-panel {
  width: 100%;
  display: none;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  z-index: 100;
  list-style-type: none;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 0px 0px;
}
.custom-select .custom-select-container.customSelect .custom-select-panel .custom-select-option {
  position: relative;
  font-family: var(--font-family-primary);
  font-size: 14px;
  color: var(--font-medium-grey);
  cursor: pointer;
  border-bottom: 1px solid var(--color-grey-20);
  padding: 12px 15px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}
.custom-select .custom-select-container.customSelect .custom-select-panel .custom-select-option:hover, .custom-select .custom-select-container.customSelect .custom-select-panel .custom-select-option.has-focus {
  background-color: var(--bg-ultra-light-grey);
  color: var(--font-medium-grey);
}
.custom-select .custom-select-container.customSelect .custom-select-panel .custom-select-option:last-child {
  border: none;
}
.custom-select .custom-select-container.customSelect .custom-select-panel .custom-select-option.is-selected::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0px;
  top: 35%;
}

.custom-select.header-select .custom-select-container.customSelect {
  width: 256px;
}

/* HEADER STYLE SETTINGS END. */
/* HEADER SLIDER STYLE SETTINGS START: */
.container-slider .header-slider {
  width: 100%;
  height: 560px;
  position: relative;
}
.container-slider .header-slider .header-slider__item {
  width: 100%;
  height: 560px;
}
.container-slider .header-slider .header-slider__item img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.container-slider .owl-dots {
  display: inline-flex;
  column-gap: 5px;
  position: relative;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: var(--bg-white);
  padding: 5px 5px;
}
.container-slider .owl-dots .owl-dot span {
  background-color: var(--bg-white);
  border: 1.2px solid var(--color-blue-100);
  margin: 0px 0px;
}
.container-slider .owl-dots .owl-dot.active span, .container-slider .owl-dots .owl-dot:hover span {
  background-color: var(--color-blue-100);
}

/* HEADER SLIDER STYLE SETTINGS END. */
/* AREAS STYLE SETTINGS START: */
.section-areas {
  margin: 20px 0px;
}
.section-areas .container-areas {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-areas .container-areas .container-areas__row-02 .container-areas__links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 220px;
  gap: 15px;
}
.section-areas .container-areas .container-areas__row-02 .container-areas__links .link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 15px 15px;
}
.section-areas .container-areas .container-areas__row-02 .container-areas__links .link:hover {
  text-decoration: underline;
}
.section-areas .container-areas .container-areas__row-02 .container-areas__links .link p {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-dark-grey);
}
.section-areas .container-areas .container-areas__row-02 .container-areas__links .link div {
  display: flex;
  justify-content: flex-end;
}
.section-areas .container-areas .container-areas__row-03 .button {
  width: 100%;
  justify-content: space-between;
}

/* AREAS STYLE SETTINGS END. */
/* DOCTORS STYLE SETTINGS START: */
.section-doctors {
  margin: 20px 0px;
}
.section-doctors .container-doctors {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-doctors .container-doctors .container-doctors__row-03 {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.section-doctors .container-doctors .container-doctors__row-03 .button {
  width: 100%;
  justify-content: space-between;
}

.doctor__item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 10px 10px;
}
.doctor__item .head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.doctor__item .head .image {
  width: 111px;
  height: 111px;
  position: relative;
}
.doctor__item .head .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.doctor__item .head .time-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.doctor__item .head .time-list .time {
  width: 95px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: var(--font-white);
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--bt-blue);
  transition-duration: 0.3s;
}
.doctor__item .head .time-list .time:hover {
  background-color: var(--color-blue-dark);
}
.doctor__item .head .time-list .time img {
  max-width: 22px;
}
.doctor__item .body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.doctor__item .body p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--font-medium-grey);
}
.doctor__item .body p.name {
  font-size: 16px;
  line-height: 20px;
  color: var(--font-dark-grey);
}
.doctor__item .footer {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.doctor__item .footer span {
  font-size: 16px;
  line-height: 20px;
  color: var(--font-dark-grey);
}
.doctor__item .footer span.price-previous {
  opacity: 0.6;
  text-decoration: line-through;
}

/* DOCTORS STYLE SETTINGS END. */
/* ABOUT STYLE SETTINGS START: */
.section-about {
  margin: 20px 0px;
}
.section-about .container-about {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-about .container-about .container-about__row-02 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.section-about .container-about .container-about__row-02 .container-about__column-01 {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-about .container-about .container-about__row-02 .container-about__column-01 > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 15px 15px 30px 15px;
}
.section-about .container-about .container-about__row-02 .container-about__column-01 > div:first-child {
  height: 270px;
}
.section-about .container-about .container-about__row-02 .container-about__column-01 > div:last-child {
  height: 290px;
}
.section-about .container-about .container-about__row-02 .container-about__column-01 > div p {
  max-width: 260px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-dark-grey);
}
.section-about .container-about .container-about__row-02 .container-about__column-01 .numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
}
.section-about .container-about .container-about__row-02 .container-about__column-01 .numbers div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-about .container-about .container-about__row-02 .container-about__column-01 .numbers div span {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  color: var(--font-blue);
}
.section-about .container-about .container-about__row-02 .container-about__column-01 .numbers div p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--font-medium-grey);
  text-transform: uppercase;
}
.section-about .container-about .container-about__row-02 .container-about__column-02 {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-about .container-about .container-about__row-02 .container-about__column-02 > div {
  height: 20%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 15px 30px;
}
.section-about .container-about .container-about__row-02 .container-about__column-02 > div p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-dark-grey);
}

/* ABOUT STYLE SETTINGS END. */
/* CONTACTS STYLE SETTINGS START: */
.section-contacts .container-contacts {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-contacts .container-contacts .container-contacts__row-02 {
  width: 100%;
  height: 540px;
  display: flex;
  column-gap: 20px;
  border-radius: 10px;
  background-color: var(--bt-ultra-light-grey);
  padding: 15px 15px;
}
.section-contacts .container-contacts .container-contacts__row-02 .container-contacts__column-01 {
  width: calc(50% + 15px);
  overflow-y: auto;
}
.section-contacts .container-contacts .container-contacts__row-02 .container-contacts__column-01::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: var(--elements-white);
}
.section-contacts .container-contacts .container-contacts__row-02 .container-contacts__column-01::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--elements-light-blue);
}
.section-contacts .container-contacts .container-contacts__row-02 .container-contacts__column-01::-webkit-scrollbar-corner {
  background-color: var(--elements-white);
}
.section-contacts .container-contacts .container-contacts__row-02 .container-contacts__column-02 {
  width: calc(50% - 15px);
}
.section-contacts .container-contacts .container-contacts__row-02 .container-contacts__column-02 .map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--elements-white);
}
.section-contacts .container-contacts .container-contacts__row-03 .button {
  width: 100%;
  justify-content: space-between;
}

.addres-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0px 15px 0px 0px;
}
.addres-list .addres-item {
  border-radius: 10px;
  background-color: var(--elements-white);
  padding: 20px 20px;
}
.addres-list .addres-item .head {
  margin: 0px 0px 20px 0px;
}
.addres-list .addres-item .head h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-medium-grey);
  text-transform: uppercase;
}
.addres-list .addres-item .body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.addres-list .addres-item .body p, .addres-list .addres-item .body a {
  max-width: 290px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-medium-grey);
  text-decoration: none;
}

/* CONTACTS STYLE SETTINGS END. */
/* FOOTER STYLE SETTINGS START: */
.section-footer {
  margin: 20px 0px;
}
.section-footer .container-footer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-footer .container-footer .container-footer__row-01 {
  display: flex;
  border-radius: 10px;
  background-color: var(--bg-light-grey);
  padding: 15px 15px 40px 15px;
}
.section-footer .container-footer .container-footer__row-01 .container-footer__column-01 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.section-footer .container-footer .container-footer__row-01 .container-footer__column-02 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 65px;
}
.section-footer .container-footer .container-footer__row-01 .container-footer__column-02 span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-dark-grey);
}
.section-footer .container-footer .container-footer__row-01 .container-footer__column-02 p {
  margin: 20px 0px 0px 0px;
}
.section-footer .container-footer .container-footer__row-01 .container-footer__column-02 p a {
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  color: var(--font-dark-grey);
  text-decoration: none;
}
.section-footer .container-footer .container-footer__row-02 {
  display: flex;
  align-items: center;
  padding: 80px 15px 15px 15px;
  border-radius: 10px;
  background-color: var(--bg-light-grey);
}
.section-footer .container-footer .container-footer__row-02 div:first-child {
  width: 50%;
}
.section-footer .container-footer .container-footer__row-02 div:last-child {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-footer .container-footer .container-footer__row-02 a, .section-footer .container-footer .container-footer__row-02 span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--font-dark-grey);
  text-decoration: none;
}

.footer__social-media {
  display: flex;
  column-gap: 10px;
}
.footer__social-media a {
  text-decoration: none;
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.footer__menu ul li a {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-dark-grey);
  text-decoration: none;
  padding: 15px 0px;
}

/* FOOTER STYLE SETTINGS END. */
/* DOCTOR PAGE STYLE SETTINGS START: */
.section-doctor .container-doctor {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-doctor .container-doctor__row-02 {
  display: flex;
  column-gap: 10px;
}
.section-doctor .container-doctor__row-02 .container-doctor__column-01 {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-doctor .container-doctor__row-02 .container-doctor__column-02 {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.doctor-photo__desktop {
  width: 100%;
  height: 580px;
  position: relative;
}
.doctor-photo__desktop img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 10px;
}

.doctor-photo__mobile {
  display: none;
}

.doctor-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 30px 30px;
}
.doctor-info p {
  max-width: 300px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-dark-grey);
}
.doctor-info p.uppercase {
  text-transform: uppercase;
}
.doctor-info div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.doctor-info div p {
  font-size: 14px;
  line-height: 18px;
  color: var(--font-medium-grey);
}
.doctor-info span.previous {
  font-size: 14px;
  line-height: 18px;
  text-decoration: line-through;
  color: var(--font-grey);
  padding: 0px 5px;
}

.doctor-calendar {
  height: 100%;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
}
.doctor-calendar .head {
  padding: 30px 30px;
}
.doctor-calendar .head p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-dark-grey);
  text-transform: uppercase;
}
.doctor-calendar .body {
  padding: 0px 20px 30px 20px;
}

.doctor-about {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 15px 15px;
}
.doctor-about .doctor-about__tab {
  display: flex;
  flex-direction: column;
}
.doctor-about .doctor-about__tab .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--bg-light-grey);
  padding: 10px 15px;
  cursor: pointer;
}
.doctor-about .doctor-about__tab .head p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-dark-grey);
  text-transform: uppercase;
}
.doctor-about .doctor-about__tab .head img {
  transform: rotate(0deg);
  transition: 0.3s;
}
.doctor-about .doctor-about__tab .body {
  height: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0px 15px;
}
.doctor-about .doctor-about__tab .body p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-dark-grey);
}
.doctor-about .doctor-about__tab.active .head img {
  transform: rotate(180deg);
}
.doctor-about .doctor-about__tab.active .body {
  height: auto;
  margin: 15px 0px 0px 0px;
}

/* DOCTOR PAGE STYLE SETTINGS END. */
/* DOCTOR MODAL STYLE SETTINGS START: */
.section-modal__doctor .container-modal__doctor .body-modal {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-modal__doctor .container-modal__doctor .body-modal .body-modal_row-01 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.section-modal__doctor .container-modal__doctor .body-modal .body-modal_row-01 .doctor-info {
  width: calc(100% - 315px);
  padding: 20px 10px;
}
.section-modal__doctor .container-modal__doctor .body-modal .body-modal_row-01 .doctor-photo__desktop {
  width: 300px;
  height: 300px;
}
.section-modal__doctor .container-modal__doctor .body-modal .body-modal_row-02 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.section-modal__doctor .container-modal__doctor .body-modal .body-modal_row-02 .custom-form__doctor-form {
  width: calc(100% - 315px);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-modal__doctor .container-modal__doctor .body-modal .body-modal_row-02 .custom-form__doctor-form .custom-form__body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 10px;
  background-color: var(--bg-light-grey);
  padding: 20px 10px;
}
.section-modal__doctor .container-modal__doctor .body-modal .body-modal_row-02 .custom-form__doctor-form .custom-form__footer .button {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.2s;
}
.section-modal__doctor .container-modal__doctor .body-modal .body-modal_row-02 .custom-form__doctor-form .custom-form__footer .button:focus {
  outline: 1px solid var(--color-grey-80);
}
.section-modal__doctor .container-modal__doctor .body-modal .body-modal_row-02 .custom-form__doctor-form .custom-select.doctor-select .custom-select-container.customSelect {
  width: 100%;
}
.section-modal__doctor .container-modal__doctor .body-modal .body-modal_row-02 .doctor-calendar {
  width: 300px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 20px 5px;
}

/* DOCTOR MODAL STYLE SETTINGS END. */
/* CATALOG PAGE STYLE SETTINGS START: */
.section-catalog .container-catalog {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-catalog .container-catalog .container-catalog__row-02 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.section-catalog .container-catalog .container-catalog__row-02 .custom-select .custom-select-container.customSelect {
  width: 100%;
}
.section-catalog .container-catalog .container-catalog__row-02 .catalog-search .catalog-search__input {
  width: 100%;
  background-color: var(--bg-ultra-light-grey);
  font-size: 16px;
  font-weight: 400;
  color: var(--font-medium-grey);
  background-image: url("../media/icons/icon_search.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 16px 15px;
  transition: 0.2s;
}
.section-catalog .container-catalog .container-catalog__row-02 .catalog-search .catalog-search__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-medium-grey);
}
.section-catalog .container-catalog .container-catalog__row-02 .catalog-search .catalog-search__input:focus {
  outline: 1px solid var(--color-grey-80);
}
.section-catalog .container-catalog .container-catalog__row-03 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 20px;
  margin: 10px 0px 10px 0px;
}
.section-catalog .container-catalog .container-catalog__row-04 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 20px 10px;
}

/* CATALOG PAGE STYLE SETTINGS END. */
/* DIRECTIONS PAGE STYLE SETTINGS START: */
.section-directions .container-directions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-directions .container-directions .container-directions__row-02 {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.section-directions .container-directions .container-directions__row-02 .container-directions__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  background-color: var(--bg-ultra-light-grey);
  padding: 30px 15px;
}
.section-directions .container-directions .container-directions__row-02 .container-directions__item .head p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--font-dark-grey);
  text-transform: uppercase;
}
.section-directions .container-directions .container-directions__row-02 .container-directions__item .body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.section-directions .container-directions .container-directions__row-02 .container-directions__item .body p, .section-directions .container-directions .container-directions__row-02 .container-directions__item .body a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--font-dark-grey);
  text-decoration: none;
}
.section-directions .container-directions .container-directions__row-02 .container-directions__item .body a:hover {
  text-decoration: underline;
}

/* DIRECTIONS PAGE STYLE SETTINGS END. */